body {
  background-color: #006B0A;
}

#menu li {
  background-color: #007F0E;
  border-color: #007F0E;
}

#menu li:hover a {
  color: #007F0E;
}

#content h2 {
  border-bottom-color: #006B0A;
}

#content a {
  color: #006B0A;
}
